@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Tabs CSS
$nav-link-font-size: 24px;
$nav-link-hover-color:black;
$nav-tabs-link-active-bg: #fdf0d5;
$nav-tabs-link-active-color: black;
$nav-tabs-link-active-border-color: #565657;
$nav-tabs-link-hover-border-color: #555555;
$nav-tabs-border-color: #565657;
$nav-tabs-border-width: 2px;

$form-range-track-bg: #adb5bd;

// Wider tooltips
$tooltip-max-width: 500px;
$tooltip-font-size: 1.25em;

// Larger toggles - adapted from https://stackoverflow.com/questions/55593229/increasing-the-size-of-a-bootstrap-checkbox
@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;

    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 3rem;
        $mainVal: 2rem;
    }

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: $mainVal * 2;
    }
}

.form-check-input {
  clear: left;
}

.form-switch.form-switch-sm {
    @include switch();
}

.form-switch.form-switch-md {
    @include switch('md');
}

.form-switch.form-switch-lg {
    @include switch('lg');
}

// Set changes
@import "../node_modules/bootstrap";
